git+git://github.com/Pycord-Development/pycord@f51a1ae6b2751b53fe46256a930773b3549cd3f5
pylunar==0.6.0
pyowm==3.2.0
sqlalchemy==1.4.27
psycopg2==2.9.2
fluent-logger==0.10.0
youtube-search==2.1.0
TenGiphPy==2.5.0
asyncpraw==7.5.0
discord-py-slash-command==3.0.1
urbandict==0.6.1

